*{
	box-sizing: border-box;
	margin: 0px;
}

body{
	position:relative;
}
h2{
	text-align: center;
}
section{
	float: left;
	margin: 3px;
	background-color: gray;
	width:32.5%;
	height: 130px;
	border: 1px solid black;
	padding: 20px 5px 5px;
	box-sizing: border-box;
	position: relative;
}
p{
	padding: 2px 16px 2px;
	border: 1px solid black;
	position: absolute;
	width: 10%;
	float: left;
	text-align: center;
	font-weight: bold;
	box-sizing: border-box;

}
.p1{
	background-color: lightpink;
	left: 22.7%;
	top:31px;
}
.p2{
	background-color: red ;
    color: white;
    left: 55.7%;
	top:31px;
}
.p3{
	background-color: yellow;
	left: 88.7%;
	top:31px;
}
.section1{

}
.section2{

}
.section3{

}
@media (min-width: 768px) and (max-width: 991px){
	section{
	width:49%;
	height: 120px;
	border: 1px solid black;
	padding: 20px 5px 5px;
	box-sizing: border-box;
	position: relative;
}
p{
	padding: 2px 16px 2px;
	border: 1px solid black;
	position: absolute;
	width: 10%;
	text-align: center;
	font-weight: bold;
	box-sizing: border-box;
}
.p1{
	background-color: lightpink;
	left: 39.3%;
	top:31px;
}
.p2{
	background-color: red ;
    color: white;
    left: 88.8%;
	top:31px;
}
.p3{
	background-color: yellow;
	left: 88.7%;
	top:157px;
}
.section1{

}
.section2{

}
.section3{
	width: 98.5%;	
}
}
@media (min-width: 0px) and (max-width: 767px){
	section{
	width:97%;
	height: 120px;
	border: 1px solid black;
	padding: 20px 5px 5px;
	box-sizing: border-box;
	position: relative;
}
p{
	padding: 2px 16px 2px;
	border: 1px solid black;
	position: absolute; 
	text-align: center;
	width: 15%;
	font-weight: bold;
	box-sizing: border-box;
}
.p1{
	background-color: lightpink;
	left: 82.6%;
	top:31px;
}
.p2{
	background-color: red ;
    color: white;
    left: 82.6%;
	top:157px;
}
.p3{
	background-color: yellow;
	left: 82.6%;
	top:283.5px;
}